/*表格*/
			thead th {
				background-color: black;
				color: white;
			}
			.info tr:nth-child(odd) {
				background-color: gray;
			}
			.info tr:nth-child(1),
			.info tr:nth-child(2),
			.info tr:nth-child(3) {
				color: red;
			}
			/*输入框*/
			#name {
				width: 200px;
			}
			#name:focus {
				width: 300px;
			}
			/*轮播*/
			.sliderShow {
				width: 400px;
				height: 400px;
				overflow: hidden;
				position: absolute;
			}
			.bg:after {
				content: ' ';
				display: block;
				clear: both;
			}
			.bg {
				width: 1600px;
				position: absolute;
				
			}
			.sliderShow:not(:hover) .bg {
				animation: slider-auto 20s linear infinite;
			}
			@-webkit-keyframes slider-auto{
				from{
					left: 0px;
				}
				to{
					left: -1200px;
				}
			}
			.bg>div {
				width: 400px;
				height: 400px;
				float: left;
				position: relative;
			}
			
			#first,
			#forth {
				background-color: pink;
			}
			#second {
				background-color: yellow;
			
			}
			#third {
				background-color: blue;
			}
			.banner {
				position: fixed;
				bottom: 0px;
				left: 0px;
				z-index: 99;
				background-color: rgba(255,255,255,0.6);
			}
			.banner a {
				text-decoration: none;
			}